.add-photo-title {
    font-family: Tahoma;
    background-color: #D3D3D3;
    font-weight: bold;
    padding: 1vh 1vw;
    color: #333;
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    margin: 6vw;
}

.photo-form {
    font-family: Tahoma;
    margin: 1vh 10vw 10vh 10vw;
    border: 2px solid #D3D3D3;
    border-radius: 15px;
    background-color: rgb(29, 34, 37);
    text-align: center;
    color: white;
    .add-photo-errors {
        color: red;
    }
    
    .input-title {
        margin-top: 25px;
        font-size: 20px;
        color: rgb(46, 133, 57);
    }
    .input-tagline {
        padding: 5px 60px;

    }
    .headline {
        font-size: 30px;
        text-decoration: underline;
    }
    input[type] {
        display: inline-block;
        margin-top: 5px;
    }

    .photoform-submit-btn {
        background-color: rgb(46, 133, 57);
        color: white;
        font-weight: bold;
        border: None;
        margin-bottom: 15px;
        width: 75px;
        height: 40px;
    }
    .attach-photo-form {
        font-size: 20px;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        font-family: -apple-system, system-ui, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    .attach-photo {
        display: inline-block;
        position: relative;
        background: rgb(240,240,240);
        border-radius: 16px;
        margin: 20px;
        width: 300px;
        height: 400px;
        cursor: pointer;
        border: 2px dashed #d1d1d1;
        border-radius: 4px;
    }

    .attach-photo input:focus {
        outline: none;
    }

    .attach-photo-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .attach-photo-file-input::before {
        width: 300px;
        height: 380px;
        content: 'Drag and drop or click to upload';
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        // display: table-cell;
        // vertical-align: middle;
        content {
            display: table-cell;
            vertical-align: middle;
            // padding-top: 20px;
        }       
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        font-family: sans-serif;
        color: #999;
    }
    .photo-preview {
        width: 300px;
        height: 380px;
        border-radius: 16px;
        /* opacity: 0.7; */
    }
    
    .photo-preview:hover {
        background: rgb(167, 167, 167);
        /* opacity: 0.7; */
    }
    .photo-preview-wrap {
        position: relative;
    }
    
    .photo-preview-wrap:hover {
        display: inline-block;
    }
    
    .photo-preview-wrap {
        width: 300px;
        height: 400px;
        font-size: 20px;
        color: black;
        padding: 12px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        background: white;
    }

    .photoform-errors {
        list-style: None;
    }
    
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
