

.photo-form {
    display: flex;
    justify-content: space-around;
    .add-photo-errors {
        color: red;
    }
    
    .input-title {
        margin-top: 20px;
        font-size: 24px;
    }
    .headline {
        font-size: 30px;
        text-decoration: underline;
    }
    input[type] {
        margin-top: 5px;
    }
    .attach-photo-form {
        margin: 5px;
        font-size: 20px;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        font-family: -apple-system, system-ui, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    .attach-photo {
        position: relative;
        width: 340px;
        height: 454px;
        background: rgb(240,240,240);
        border-radius: 16px;
        padding: 20px;
    }

    .attach-photo {
        width: 336px;
        height: 468px;
        cursor: pointer;
        border: 2px dashed #d1d1d1;
        border-radius: 4px;
    }

    .attach-photo input:focus {
        outline: none;
    }

    .attach-photo-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .attach-photo-file-input::before {
        width: 320px;
        height: 432px;
        content: '';
        content: 'Drag and drop or click to upload';
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        content {
            display: inline-block;
            vertical-align: middle;
        }       
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        font-family: sans-serif;
        color: #999;
    }
    .photo-preview {
        width: 310px;
        height: 422px;
        border-radius: 16px;
        /* opacity: 0.7; */
    }
    
    .photo-preview:hover {
        background: rgb(167, 167, 167);
        /* opacity: 0.7; */
    }
    .photo-preview-wrap {
        position: relative;
    }
    
    .photo-preview-wrap:hover {
        display: inline-block;
    }
    
    .photo-preview-wrap {
        width: 336px;
        height: 468px;
        font-size: 20px;
        color: black;
        padding: 12px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        background: white;
    }
    
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: auto;
    height: 300px;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
